@import "tailwindcss";

@theme {
  --color-auth-primary: #181818;
  --color-secondary: #979899;
}

body{
  color: #FFF5EE;
  padding: 0;
  margin: 0;
  background-color: #181818;
}

@layer components {
  .input-class{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 0 12px 8px;
    border: 2px rgb(38, 38, 38) solid;
    border-radius: 6px;
  }

  .button-class{
    border-radius: 6px;
    padding: 10px 0;
    font-weight: bold;
    text-align: center;
  }

  .profile-stats h5{
    font-weight: bold;
    font-size: larger;
  }

  .profile-action{
    border: 1px black solid;
    box-shadow: 1px 1px 8px black;
    gap: 8px;
    padding: 8px 12px;
    border-radius: 8px;
  }
}